@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 27px 0;
}

form {
    max-width: 600px;
    margin: 15px auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}
div {
    margin-bottom: 1em;
}
label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}
input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    width: calc(100% - 1em);
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}